.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.form {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;

    color: var(--colors-interface-accent);
}

.error {
    position: absolute;
    bottom: -28px;

    color: tomato;
}
