.container {
    display: grid;
    grid-template-rows: 206px auto auto;
    grid-template-columns: 1fr;
    grid-row-gap: 60px;
}

.status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 36px;
}

.status-text {
    color: var(--colors-interface-success);
}
