.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;

    color: var(--colors-interface-accent);
}
