.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 120px
}
